---
---

body
    article
        margin: 16px auto
        h1
            background: #0088cc
            color: white
            padding: 12px
        
        dt 
            font-weight: bold
            margin: 8px auto

        
