<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="google-site-verification" content="rlaFYHKMlaB3yvzALyr-jKJ_2H0xICA3TKB3-61ja5Y" />
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="style.css">
        <title></title>
    </head>
    <body>
        <article>
            {{ content }}
        </article>
        <script src="highlight.js"></script>
    </body>
</html>